@import 'colors';

footer {
  background-color: $dark;
  .footer_container {
    min-height: 300px;

    padding: 4rem;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
  }

  h2 {
    color: $red;
    font-family: fantasy;
    font-weight: 400;
    font-size: 2rem;
  }

  p,
  strong {
    margin: 1rem;
  }

  aside {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      margin: 0.5rem 0 0 0;
      font-size: 1.1rem;
    }

    a {
      margin: 0 0.5rem;
      font-size: 2rem;
      color: white;
      &:hover {
        color: $red;
      }
    }
  }

  .aside-links {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
    text-align: center;

    .footer_text {
      display: none;
    }
  }
}
