.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  padding: 20px;
  border: 1px #ccc;
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  min-width: 310px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  margin-right: 20px;
}

.tab.active {
  background-color: #2660acb5;
  color: #fff;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box; 
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 50px;
}

.login-btn {
  background-color: #2660acb5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #2660acb5;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-right: 8px;
}

.remember-me input {
  margin-right: 8px;
}

.forgot-password {
  text-align: right;
  padding: 10px;
}

.social-login-links {
  margin-top: 20px;
}

.social-login-links p {
  padding: 10px;
}

.social-login-links a {
  display: inline-block;
  margin-right: 10px;
  justify-content: space-between;
  padding: 20px;
}

p{
  padding: 5px; 
}